#logo {
    width: 150px;
    height: 35px;
}

body{
    background-color: #000000 !important;;
}

form {
  animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


form [type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invierte los colores */
    border-radius: 50%; /* Redondea el icono */
}

#texto {
  color: #d4af37;
  font-size: 0.85rem;
  opacity: 0.8;
  font-style: italic;
}


#boton_reg {
    background-color: #F6C445;
    color: #121212;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}

#boton_reg:hover {
     background: linear-gradient(90deg, #FFD700, #F6C445);
     transform: translateY(-5px);
     box-shadow: 0 0 20px rgba(246, 196, 69, 0.5);
}

#boton_reg:active {
     background: linear-gradient(90deg, #FFD700, #F6C445);
     transform: translateY(-5px);
     box-shadow: 0 0 20px rgba(246, 196, 69, 0.5);
}

@media (max-width: 992px) {
  section .row {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
}