*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



body{
    width: 100%;
    height: 100vh;
    background: url(../Imagenes/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    padding-top: 40px;
    text-align: center;
    color: white;
}


.video-contenedor {
    transform: scaleX(-1);
}
