*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



body{
    width: 100%;
    height: 100vh;
    background: url(../Imagenes/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    padding-top: 40px;
    text-align: center;
    color: white;
}


@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

video::after, video::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),
  #747342, #7C7B44, #848446, #8D8C48, #95944A, #9D9C4C, #A6A54E, #AEAD50, #B6B552,
  #BFBE54, #C7C656, #CFCE58, #D8D75A, #E0DF5C, #E8E75E, #F0EF60, #F5F272, #F7F481);
    top:50%;
    left:50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px 4px 2px 4px;
    border-radius: 10px;
    animation: 10s spin linear infinite;
}
video::before{
    filter: blur(2rem);
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

