<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos_Inicio.css">
    <title>American Express</title>
    <!--- boxicons linkeo--->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!--- remixicons linkeo--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <!---Fuentes de Google--->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!--- header --->
    <header>
        <a href="#" class="logo">
            <img class="logo1" src="../static/Imagenes/landinglogo.png">
        </a>

        <div class="Contenido_Derecha">
            <a href="/iniciar_sesion" class="Boton_Inicio">Iniciar sesion</a>
        </div>
    </header>

    <!---Logo Pantalla--->
    <section class="Banner">
        <div class="Banner_Contenido">
            <h5>La seguridad bancaria hecha a tu medida</h5>
            <h1>American Express</h1>
            <p>Se parte de los mejores beneficios bancarios de el mercado.</p>

            <div class="Banner_Botones">
                <a href="https://www.americanexpress.com/es-mx/beneficios/porque-american-express/?inav=mx_menu_cards_pc_memben_pr" class="Btn">Sobre Nosotros</a>
                <a href="#" class="Eslogan">Confianza | <span> Exclusividad</span></a>
            </div>
        </div>

        <div class="Banner_Img">
            <img src="../static/Imagenes/americanlogo.png">
        </div>
    </section>

    <div class="Iconos">
        <a href="https://x.com/AmericanExpress"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.instagram.com/americanexpress/"><i class="ri-instagram-line"></i></a>
        <a href="https://americanexpress.com/"><i class="ri-global-line"></i></a>
    </div>
</body>
</html>
