<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamo</title>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estilos_prestamo.css">
</head>
<body class="bg-black text-light">
    <div class="container color text-center mx-auto">
        <h2 style="color: gold;">
            Prestamo
        </h2>
    </div>
    <form method="POST" action="/prestamo_crear">
    <div class="container-fluid justify-content-center">
            <div class="d-lg-flex flex-row justify-content-lg-around d-sm-block">
                <div class="container col-lg-4 mx-auto my-3 p-0">
                    <div class="container-fluid input-group m-0">
                        <span class="input-group-text color borde">$</span>
                        <div class="form-floating">
                            <input type="text" class="form-control desabilitar color input borde2" minlength="1" required disabled placeholder="mierda" name="dinero" id="dinero">
                            <label for="dinero" id="dinero_label" style="color: gold;">Cantidad a pedir</label>
                        </div>
                        <span class="input-group-text color borde">MXN</span>
                    </div>
                </div>
                <div class="form-floating container-fluid col-lg-4 mx-auto my-3">
                    <select class="form-select color borde desabilitar" disabled name="selec" id="selec">
                        <option value="3">3 meses</option>
                        <option value="6">6 meses</option>
                        <option value="9">9 meses</option>
                        <option value="12">12 meses</option>
                        <option value="24">24 meses</option>
                    </select>
                    <label for="selec" id="calcular_label" style="color: gold" class="form-label">Plazos (meses):</label>
                </div>
                <div class="container si col-lg-4 my-3 ">
                    <h3 class="text-center color text-white p-2 borde">
                        Interes del <span style="color: gold;">25% </span>
                    </h3>
                </div>
            </div>

    </div>
    <div class="container-fluid row align-items-center justify-content-center mx-auto mt-2">
        <button type="submit" class="btn btn-outline-warning mx-auto col-11 col-lg-6" id="calcular">Pedir</button>
    </div>
    </form>
    <div class="container color text-center mx-auto mt-5">
            <h2 style="color: gold;">
                Metricas:
            </h2>
    </div>
    <div class="container-fluid justify-content-center">
        <table class="table table-dark">
                <thead style="color: gold;">
                    <tr>
                        <th scope="col">Cantidad Prestada</th>
                        <th scope="col">Plazos</th>
                        <th scope="col">Estado:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ data.monto_prestamo}}</td>
                        <td>{{ data.plazo_prestamo }}</td>
                        <td>{{ data.tasa_prestamo }}</td>
                    </tr>
                </tbody>
            </table>
    </div>
<script>
    if ('{{ data.hay }}' === 'True' ){
        document.getElementById('dinero').disabled = true;
        document.getElementById('selec').disabled = true;
        document.getElementById('dinero_label').disabled = true;
        document.getElementById('selec').disabled = true;
        document.getElementById('calcular').disabled = true;
    } else{
        document.getElementById('dinero').disabled = false;
        document.getElementById('selec').disabled = false;
        document.getElementById('dinero_label').disabled = false;
        document.getElementById('selec').disabled = false;
        document.getElementById('calcular').disabled = false;
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>